@(message: String)
<div class="head">
    <div class="container outer-container">
        <div class="container theme-showcase" role="main">
            <div class="jumbotron-b template-header">
                <h1>Tread Carefully !</h1>
                <h2>We are still building</h2>
                <h3 style="color: orange"><i>This page isn't yet built as desired!</i></h3>
                <h3 style="color: white">Head to the listings page to see our progress.</h3>
                <h3 style="color: white">Let us know what you think. We welcome all comments!</h3>
                <p><a role="button" class="btn btn-warning btn-lg" href="#">Learn more »</a></p>
            </div>
        </div>
    </div>
</div>
