@(message: String)
<div class="head holderjs" data-bg-holder="?holder.js/500x500/^506A63:^506A63">
    <div class="container outer-container">
        <div class="container theme-showcase" role="main">
            <div class="jumbotron-b template-header">
                <div class="header-view">
                    <h1> Buy&Sell Locally Online </h1>
                    <h2> We are still building... </h2>
                    <h3 style="color: orange"><i> This page isn't yet built as desired! </i></h3>
                    <p><a role="button" class="btn btn-warning btn-lg" data-ng-href="/#!/listings"> Learn more »</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
