@(listing: Listing, pictures:List[String], user: User, rating: Float, currency: String, token: Option[String], pictureUrl: String, paypalMerchant: Boolean)
<script src="https://wallet.google.com/inapp/lib/buy.js"></script>
<script type="text/javascript" language="javascript">
    // Success handler
    var successHandler = function(status) {
        if (window.console != undefined) {
            //window.location.href = "ZapOrbit://";
        }
    };
    // Failure handler
    var failureHandler = function(status) {
        if (window.console != undefined) {
            console.log("failed")
        }
    };
    function purchase() {
        var token = $('#token_button').data("token");
        if (null !== token) {
            google.payments.inapp.buy({
                'jwt'     : token,
                'success' : successHandler,
                'failure' : failureHandler
            });
        }
    }
</script>
<div class="container outer-container" data-ng-controller="SellingCtrl">
    <div class="">
        <div class="row template-header">
            <div class="col-xs-12 col-md-8">

                <div class="modal-header" style="padding-top: 0; padding-bottom: 10px;">
                    <h3 class="modal-title"> @listing.title </h3>
                </div>
                <div class="modal-body">
                    <div data-ng-controller="ItemCarouselCtrl">
                        <div>
                            <carousel interval="myInterval" disable-ng-animate>
                                @for((pic, i) <- pictures.zipWithIndex) {
                                    <slide active="slides[@i].active">
                                        <div class="fitted-img main-item" style="background-color: #000000">
                                            <div class="centerer"></div>
                                            <img data-ng-src="/scaledimage/2000/@{if(pic.split("\\.").length > 1) pic else pic.split("\\.")(0)+".jpg"}">
                                        </div>
                                        <div class="carousel-caption">
                                        </div>
                                    </slide>
                                }
                            </carousel>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-description">
                    <p data-ta-bind data-ng-model="htmlAttrDescription" data-html-attr-description="@listing.description"></p>
                </div>
                <div class="modal-footer" style="padding-right: 20px;">

                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div data-scroll-top data-ng-class="{posFixed: fixedToTop}" class="btn-block">
                    <div class="" style="margin-bottom: 10px; border-bottom: 1px solid rgb(229, 229, 229)">
                        <h5> Seller </h5>
                    </div>
                    <div class="profile row-fluid clearfix">
                        <div class="circular pull-left" style="background-image: url( @pictureUrl )"></div>
                        <div class="profile-crd" style=""><a class="pointer"><b> @user.name @user.surname </b></a></div>
                        <div class="stars pull-left">
                            <div class="rating" style="width: @rating%"></div>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                        <div class="pull-right" style="padding-right: 20px; color: grey; font-size: 12px;">
                            <p class="pull-right">@if(user.isMerchant.get){is <i>merchant</i>}else{is <i>not</i> merchant}</p>
                        </div>
                    </div>
                @if(user.isMerchant.get) {
                    <div class="" style="margin-bottom: 10px; padding-top: 10px; border-bottom: 1px solid rgb(229, 229, 229)">
                        <h5> Cart </h5>
                    </div>
                    <table class="table cart-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th style="width: 200px">Item</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1 </td>
                                <td style="width: 200px">@listing.title</td>
                                <td>@Wallet.displayCurrency(listing.locale, listing.price)</td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center">
                        <button
                        id="token_button"
                        style="background: none;border: none;padding: 0;"
                        data-token=@token onclick="purchase();">
                            <img class="resize" src="https://developers.google.com/wallet/images/buy-button.png"/>
                        </button>
                    </div>
                    }
                @if(paypalMerchant) {
                    <div style="text-align : center ; margin : 20px 0"> Or </div>
                    <div style="text-align : center ; margin : 20px 0">
                        <button style="background: none;border: none;padding: 0;" data-ng-click="textPaypal(@listing.id.get)">
                            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png" alt="Buy now with PayPal" />
                        </button>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
</div>