@(listing: Listing, pictures:List[String], loc: Location, user: User, rating: Float, currency: String, token: Option[String], ext: String = ".jpg")
<script src="https://wallet.google.com/inapp/lib/buy.js"></script>
<script type="text/javascript" language="javascript">
    // Success handler
    var successHandler = function(status) {
        if (window.console != undefined) {
            //window.location.href = "ZapOrbit://";
        }
    };
    // Failure handler
    var failureHandler = function(status) {
        if (window.console != undefined) {
            console.log("failed")
        }
    };
    function purchase() {
        var token = $('#token_button').data("token");
        if (null !== token) {
            google.payments.inapp.buy({
                'jwt'     : token,
                'success' : successHandler,
                'failure' : failureHandler
            });
        }
    }
</script>
<div class="container outer-container">
    <div class="">
        <div class="row template-header">
            <div class="col-xs-12 col-md-8">

                <div class="modal-header" style="padding-top: 0; padding-bottom: 10px;">
                    <h4 class="modal-title"> @listing.title </h4>
                </div>
                <div class="modal-body">
                    <div data-ng-controller="ItemCarouselCtrl">
                        <div style="">
                            <carousel interval="myInterval">
                                @for((pic, i) <- pictures.zipWithIndex) {
                                    <slide active="slides[@i].active">
                                        <div class="fitted-img main-item" style="background-color: #000000">
                                            <div class="centerer"></div>
                                            <img data-ng-src="/pictures/@pic@ext" style="">
                                        </div>
                                        <div class="carousel-caption">
                                            <h4> Slide @(i+1) </h4>
                                        </div>
                                    </slide>
                                }
                            </carousel>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-description">
                    <h5>
                        @listing.description
                    </h5>
                </div>
                <div class="modal-footer" style="padding-right: 20px;">




                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div data-scroll data-ng-class="{posFixed: fixedToTop}" class="btn-block">
                    <div class="" style="margin-bottom: 10px; border-bottom: 1px solid rgb(229, 229, 229)">
                        <h5> Seller </h5>
                    </div>
                    <div class="profile row">
                        <img class="profile-img pull-left" data-ng-src="//graph.facebook.com/v2.1/@user.fbuserid/picture?height=200&width=200" src="" alt=""/>
                        <div class="profile-crd" style=""><a href="javascript:;"><b> @user.name @user.surname </b></a></div>
                        <div class="stars pull-left">
                            <div class="rating" style="width: @rating%"></div>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                        <div class="pull-right" style="padding-right: 20px; color: grey; font-size: 12px;">
                            <p class="pull-right">@if(user.isMerchant.get){is <i>merchant</i>}else{is <i>not</i> merchant}</p>
                        </div>
                    </div>
                    @if(user.isMerchant.get) {
                        <div class="" style="margin-bottom: 10px; padding-top: 10px; border-bottom: 1px solid rgb(229, 229, 229)">
                            <h5> Cart </h5>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th style="width: 200px">Item</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 1 </td>
                                    <td style="width: 200px">@listing.title</td>
                                    <td>@Wallet.displayCurrency(listing.locale, listing.price)</td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align : center">
                            <button
                            id="token_button"
                            style="background: none;border: none;padding: 0;"
                            data-token=@token onclick="purchase();">
                                <img class="resize" src="https://developers.google.com/wallet/images/buy-button.png"/>
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>