@()
<div class="" style="margin-bottom: 10px; border-bottom: 1px solid rgb(229, 229, 229)">
    <h5> {{ title }} </h5>
</div>
<div class="profile row-fluid">
    <div class="circular pull-left" style='background-image: url( @routes.Assets.versioned("images/profile-placeholder.png") )'></div>
    <div class="profile-crd" style=""><b> Offline </b></div>
    <div class="stars pull-left">
        <div class="rating" style="width: 0"></div>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
    </div>
    <div class="pull-right" style="padding-right: 20px; color: grey; font-size: 12px;">
    </div>
</div>