@(user: User, rating: Int, pictureUrl: String)

<div class="summary-wrapper" style="margin-bottom: 10px;)">
    <h5> {{ title }} </h5>
    <div class="inner-summary" data-ng-if="!showLinks">
        @partials.html.profileSummary(user, rating, pictureUrl)
    </div>
    <div class="profile-links row-fluid clearfix" data-ng-if="showLinks">
        @partials.html.profileSummary(user, rating, pictureUrl)
        <a data-ng-href="/#!/userhome?id=1"><i class="tab-icon fa fa-envelope"></i> Messages </a>
        <a data-ng-href="/#!/userhome?id=2"><i class="tab-icon fa fa-credit-card"></i> Purchases </a>
        <a data-ng-href="/#!/userhome?id=3"><i class="tab-icon fa fa-calculator"></i> Sales </a>
        <a data-ng-href="/#!/userhome?id=4"><i class="tab-icon fa fa-briefcase"></i> Billing </a>
    </div>
</div>
