@(user: User, rating: Int, options: UserOption)

<div class="row-fluid clearfix" data-ng-controller="ProfileProfileCtrl">

    <div class="col-md-12 profile-frame profile-small">
        <div class="cover" data-img-centred=@options.background.get data-img-override="{{backgroundPicture}}">
            <div class="camera">
                <a href="javascript:;" class="glyphicon glyphicon-camera btn-file pointer">
                    <input type="file" data-ng-file-select="onBackgroundSelect($files)" accept="image/*">
                </a>
            </div>
        </div>
        <div class="profile-profile profile-small">
            <div class="inner-profile">

                <div class="picture-wrapper">
                    <div class="profile-picture" data-img-centred=@options.picture.get data-img-override="{{profilePicture}}">
                        <div class="camera">
                            <a href="javascript:;" class="glyphicon glyphicon-camera btn-file">
                                <input type="file" data-ng-file-select="onPictureSelect($files)" accept="image/*">
                            </a>
                        </div>
                    </div>
                </div>

                <h3> @user.name @user.surname </h3>

                <div class="profile-footer">
                    <div class="pull-left">
                        <div class="profile-stars-wrapper">
                            <div class="stars">
                                <div class="rating profile-rating" style="width: 0%"></div>
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left" data-ng-click="setActive($index)" data-ng-class="isActive($index)" data-ng-repeat="menu in profileMenus track by $index">
                        <div><h5> <i class="tab-icon {{ menu.icon }}"></i> {{ menu.name }} </h5></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/ng-template" id="feedbacks-template">
            <div class="profile-small-wrapper profile-small" data-ng-controller="FeedbacksCtrl">
                coming soon...
            </div>
        </script>

        <script type="text/ng-template" id="following-template">
            <div class="profile-small-wrapper profile-small" data-ng-controller="FollowingCtrl">
                <div data-ng-include="template.url"></div>
            </div>
        </script>

        <script type="text/ng-template" id="merchant-template">
            <div class="profile-small-wrapper profile-small" data-ng-controller="MerchantCtrl">

                <form name="googleWallet" novalidate class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="merchantid" class="col-sm-3 control-label"> Google Wallet Merchant ID
                            <span class="label label-danger" data-ng-show="submitted && googleWallet.merchantid.$error.required">Required!</span>
                        </label>
                        <div class="col-sm-9">
                            <input data-ng-readonly="!isEditing" type="text" class="form-control" name="merchantid" data-ng-model="merchantid" id="merchantid" placeholder="Merchant ID" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="merchantsecret" class="col-sm-3 control-label"> Merchant Secret
                            <span class="label label-danger" data-ng-show="submitted && googleWallet.merchantsecret.$error.required">Required!</span>
                        </label>
                        <div class="col-sm-9">
                            <input data-ng-readonly="!isEditing" type="text" class="form-control" name="merchantsecret" data-ng-model="merchantsecret" id="merchantsecret" placeholder="Merchant Secret" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label"> Your Postback URL </label>
                        <div class="col-sm-9">
                            <input readonly type="text" class="form-control" name="postbackurl" data-ng-model="postbackurl" id="postbackurl" placeholder="Your postback URL" />
                        </div>
                    </div>
                    <div class="submit-btn clearfix">
                        <button class="btn btn-default btn-small col-xs-offset-3" data-ng-click="edit() || submit(googleWallet)"> {{ title() }} </button>
                    </div>
                </form>
                <p> Google wallet integration is <b>recommended</b> for all sellers. Your Google Wallet identification will be used only for pre-processing payment information for Google Wallet and it is safely stored in our server using encrypted channels.</p>
                <p> No Google Wallet yet? <a href="https://wallet.google.com/merchant" target="_blank">Set up your Google Wallet now </a> and start getting paid directly into it today!</p>
            </div>
        </script>

        <script type="text/ng-template" id="own-listings-template">
            <div class="profile-small-wrapper profile-small" data-ng-controller="OwnListingsCtrl">
                <div class="new-listing" data-ng-controller="ModalNewListingCtrl">
                    <button data-ng-click="open('lg')" class="btn btn-warning"> New Listing </button>
                </div>
                <div class="clearfix" style="padding: 0 15px;">
                    <h5 class="pull-left"> Listings </h5>
                </div>

                <div class="alert alert-warning" role="alert" data-ng-if="ownListings.length == 0"> You don't have any listings at present. Need to sale something? Create a listing now. It's quick and simple!  </div>

                <div class="panel panel-default" data-ng-class="{animate:true}" data-ng-repeat="lst in ownListings track by lst.listing.id">
                    <div class="panel-body">
                        <h4 style="margin: 0"><a href="/#!/listing_item/{{lst.listing.id}}" data-ng-bind="lst.listing.title"></a></h4>
                        <div class="description-wrapper">
                            <p class="html-description" data-ta-bind data-ng-model="lst.listing.description">  </p>
                        </div>
                    </div>
                    <div class="panel-footer" style="font-size: 12px;">
                        <button class="foot-link btn-custom" data-ng-class="canList($index)" data-ng-click="updateStatus($index, 'forsale')">
                            <i class="fa fa-arrow-up"></i> Post
                        </button>
                        <button class="foot-link btn-custom" data-ng-class="canWithdraw($index)" data-ng-click="updateStatus($index, 'idle')">
                            <i class="fa fa-arrow-down"></i> Withdraw
                        </button>
                        <button class="foot-link btn-custom" data-ng-class="canRelist($index)">
                            <i class="fa fa-repeat"></i> Re-post
                        </button>
                        <button class="foot-link btn-custom" data-ng-click="share($event, lst)">
                            <i class="fa fa-share"></i> Share
                        </button>
                        <button class="foot-link btn-custom" data-ng-class="canUpdate($index)">
                            <i class="fa fa-wrench"></i> Update
                        </button>
                        <button class="foot-link btn-custom delete-listing" data-delete-listener="false" data-index='{{$index}}' data-ng-class="canDelete($index)">
                            <i class="glyphicon glyphicon-trash"></i> Delete
                        </button>
                    </div>
                </div>
            </div>
        </script>

        <div class="profile-background">
            <div style="height: 50px"></div>
            <div data-ng-include="template.url"></div>
        </div>
    </div>
</div>