@(user: User, rating: Int)

<div class="" style="margin-bottom: 10px; border-bottom: 1px solid rgb(229, 229, 229)">
    <h5> {{ title }} </h5>
</div>
<div class="profile row-fluid">
    <img class="profile-img pull-left" data-ng-src="//graph.facebook.com/v2.1/@user.fbuserid/picture?height=200&width=200" src="" alt=""/>
    <div class="profile-crd" style=""><a href="javascript:;"><b> @user.name @user.surname </b></a></div>
    <div class="stars pull-left">
        <div class="rating" style="width: @rating"></div>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
    </div>
    <div class="pull-right" style="color: grey; font-size: 12px;">
        <p class="merchant pull-right">@if(user.isMerchant.get){is <i>merchant</i>}else{is <i>not</i> merchant}</p>
    </div>
</div>