@(message: String)
<div class="container outer-container">
    <div class="">
        <div class="row template-header">
            <div class="col-xs-12 col-md-8">

                <div class="row paging" data-ng-show="showSearch">
                    <form style="" name="newLoc" class="form-horizontal form-inline" role="form">
                        <div class="col-sm-3ths col-md-3ths col-lg-3ths">
                            <div class="input-group input-group-sm" style="width: 100%!important;">
                                <span class="input-group-addon"> City: </span>
                                <input type="text" class="form-control" name="city" data-ng-model="city" id="city" placeholder="City Name" required>
                            </div>
                        </div>

                        <div class="col-sm-3ths col-md-3ths col-lg-3ths">
                            <div class="input-group input-group-sm" style="width: 100%!important;">
                                <span class="input-group-addon"> Region: </span>
                                <input type="text" class="form-control" name="region" data-ng-model="region" id="region" placeholder="Region or State" required>
                            </div>
                        </div>
                        <div class="col-sm-3ths col-md-3ths col-lg-3ths" style="width: 50px; margin-right: 0;">
                            <button data-ng-disabled="inProgress" data-ng-click="locate(newLoc)" class="btn btn-default btn-sm">Locate</button>
                        </div>
                    </form>
                </div>

                <progressbar ng-if="locProg" class="progress-striped active progress" animate="true" value="100" type="info"> {{ locProgMessage }} </progressbar>

                <google-map
                center="map.center"
                pan="map.panTo"
                control="map.control"
                draggable="true"
                dragging="map.dragging"
                bounds="map.bounds"
                events="map.events"
                options="map.options"
                zoom="map.zoom">
                    <marker
                    idkey="loc.id"
                    coords="loc.coords"
                    icon="'@routes.Assets.versioned("images/marker.png")'"
                    options="loc.options"
                    control="loc.control"></marker>
                    <marker
                    data-ng-repeat="lst in allListings track by $index"
                    idkey="lst.listing.id"
                    coords="{latitude: lst.location.latitude, longitude: lst.location.longitude}"
                    click="openListing($index)"
                    options="loc.lstOptions"
                    control="loc.control"></marker>
                </google-map>

                <alert ng-repeat="alert in alerts track by $index" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

                <div class="panel panel-default" data-ng-if="(paging && paging.total > 0) || filterStr" data-ng-controller="SearchCtrl">
                    <div class="panel-body searchPanel">
                        <div class="search-wrapper">
                            <form name="search" class="" role="form">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" data-ng-model="filterString" id="searchBar" name="filter" placeholder="Search..." />
                                    <span class="input-group-btn">
                                        <button type="submit" data-ng-click="filter(search)" class="btn btn-default btn-sm search-btn">
                                            <span class="gbqfi gb_Fa"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row paging" data-ng-if="paging && paging.total > 0">
                    <label style="padding-left:5px;margin-bottom:0;margin-top:15px;" > Listing {{ paging.offset+1 }} to {{ paging.offset + allListings.length }} out of {{ paging.total }} </label>
                    <div class="pull-right">
                        <ul class="pagination" data-ng-repeat="i in pageRange() track by $index" data-ng-if="$index*5 < paging.page + 1 && paging.page + 1 < $index*5 + 6">
                            <li data-ng-class="{disabled:$index==0}">
                                <a href="javascript:;" data-ng-click="$index>0 && listingsForLocation(true,'',$index*5-1)">&laquo;</a></li>
                            <li data-ng-class="{active:$index*5==paging.page}">
                                <a href="javascript:;" data-ng-click="listingsForLocation(true,'',$index*5)"> {{ ($index * 5) + 1 }} </a></li>
                            <li data-ng-class="{active:$index*5+1==paging.page}" data-ng-if="$index*5*pageSize + pageSize+1 <= paging.total">
                                <a href="javascript:;" data-ng-click="listingsForLocation(true,'',$index*5+1)"> {{ ($index * 5) + 2 }} </a></li>
                            <li data-ng-class="{active:$index*5+2==paging.page}" data-ng-if="$index*5*pageSize + 2*pageSize+1 <= paging.total">
                                <a href="javascript:;" data-ng-click="listingsForLocation(true,'',$index*5+2)"> {{ ($index * 5) + 3 }} </a></li>
                            <li data-ng-class="{active:$index*5+3==paging.page}" data-ng-if="$index*5*pageSize + 3*pageSize+1 <= paging.total">
                                <a href="javascript:;" data-ng-click="listingsForLocation(true,'',$index*5+3)"> {{ ($index * 5) + 4 }} </a></li>
                            <li data-ng-class="{active:$index*5+4==paging.page}" data-ng-if="$index*5*pageSize + 4*pageSize+1 <= paging.total">
                                <a href="javascript:;" data-ng-click="listingsForLocation(true,'',$index*5+4)"> {{ ($index * 5) + 5 }} </a></li>
                            <li data-ng-class="{disabled: $index == indexes()}">
                                <a href="javascript:;" data-ng-click="$index < indexes() && listingsForLocation(true,'',$index*5+5)">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <script type="text/ng-template" id="modal-template.html">
                    <div class="modal-header">
                        <h3 class="modal-title"> {{lst.listing.title}} </h3>
                    </div>
                    <div class="modal-body">
                        <div data-ng-controller="ModalItemCarouselCtrl">
                            <div style="">
                                <carousel interval="myInterval">
                                    <slide ng-repeat="slide in slides" active="slide.active">
                                        <div class="fitted-img" style="background-color: #000000">
                                            <div class="centerer"></div>
                                            <img data-ng-src="{{slide.image}}" style="">
                                        </div>
                                        <div class="carousel-caption">
                                            <h4> Slide {{$index+1}} </h4>
                                        </div>
                                    </slide>
                                </carousel>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-description">
                        <p> {{lst.listing.description}} </p>
                    </div>
                    <div class="modal-footer" style="padding-right: 20px;">
                        <button class="btn btn-default" data-ng-click="cancel()"> OK </button>
                    </div>
                </script>

                <div class="listing container-with-shadow" data-ng-repeat="lst in allListings" data-ng-if="lst.listing.pictures[0]">
                    <div class="profile row">
                        <div class="pull-right" style="padding-right: 20px; color: grey; font-size: 12px;">
                            <span data-am-time-ago="{{lst.listing.date}}" data-am-preprocess="unix"></span>
                        </div>
                        <img class="profile-img pull-left" data-ng-src="//graph.facebook.com/v2.1/{{lst.user.fbuserid}}/picture?height=200&width=200" src="" alt=""/>
                        <div class="profile-crd" style=""><a href="javascript:;"><b>{{ lst.user.name }} {{ lst.user.surname }}</b></a></div>
                        <div class="stars pull-left">
                            <div class="rating" data-ng-style="getRatingWidth(lst.user)"></div>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                        <span class="pull-right" style="margin-top: 10px; font-size: 15px; font-weight: 100; letter-spacing: 1px;">
                            <label class="label label-info" style="margin-right: 20px; padding-top: 3px"> {{ lst.listing.formatted_price }} </label>
                        </span>
                    </div>
                    <div data-ng-controller="ModalListingCtrl" class="" style="padding-left: 5px; padding-right: 5px; margin-bottom: 10px;">
                        <b>» {{ lst.listing.title }} </b>&emsp;<a href="javascript:;" data-ng-click="open('lg')">see more...</a>
                    </div>
                    <div class="row" style="overflow: scroll; padding-left: 20px; max-height: 300px;">
                        <div class="center-cropped pull-left" data-back-img="/pictures/{{lst.listing.pictures[0]}}.jpg" style="margin-right: 10px; margin-bottom: 10px;"></div>
                        <div class="center-cropped" data-back-img="/pictures/{{lst.listing.pictures[1]}}.jpg" data-ng-if="lst.listing.pictures[1]"></div>
                    </div>
                </div>

                <div class="row paging" style="text-align: center" data-ng-if="paging && paging.total > 0">
                    <ul class="pagination" data-ng-repeat="i in pageRange() track by $index" data-ng-if="$index*5 < paging.page + 1 && paging.page + 1 < $index*5 + 6">
                        <li data-ng-class="{disabled:$index==0}">
                            <a href="javascript:;" data-ng-click="$index>0 && listingsForLocation(true,'',$index*5-1)">&laquo;</a></li>
                        <li data-ng-class="{active:$index*5==paging.page}">
                            <a href="javascript:;" data-ng-click="listingsForLocation(true,'',$index*5)"> {{ ($index * 5) + 1 }} </a></li>
                        <li data-ng-class="{active:$index*5+1==paging.page}" data-ng-if="$index*5*pageSize + pageSize+1 <= paging.total">
                            <a href="javascript:;" data-ng-click="listingsForLocation(true,'',$index*5+1)"> {{ ($index * 5) + 2 }} </a></li>
                        <li data-ng-class="{active:$index*5+2==paging.page}" data-ng-if="$index*5*pageSize + 2*pageSize+1 <= paging.total">
                            <a href="javascript:;" data-ng-click="listingsForLocation(true,'',$index*5+2)"> {{ ($index * 5) + 3 }} </a></li>
                        <li data-ng-class="{active:$index*5+3==paging.page}" data-ng-if="$index*5*pageSize + 3*pageSize+1 <= paging.total">
                            <a href="javascript:;" data-ng-click="listingsForLocation(true,'',$index*5+3)"> {{ ($index * 5) + 4 }} </a></li>
                        <li data-ng-class="{active:$index*5+4==paging.page}" data-ng-if="$index*5*pageSize + 4*pageSize+1 <= paging.total">
                            <a href="javascript:;" data-ng-click="listingsForLocation(true,'',$index*5+4)"> {{ ($index * 5) + 5 }} </a></li>
                        <li data-ng-class="{disabled: $index == indexes()}">
                            <a href="javascript:;" data-ng-click="$index < indexes() && listingsForLocation(true,'',$index*5+5)">&raquo;</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-xs-6 col-md-4" data-ng-controller="ProfileCtrl">
                <div data-scroll data-ng-class="{posFixed: fixedToTop}" class="btn-block">
                    <div data-ng-include="profileTemplate.url" data-ng-if="showTplt"></div>
                    <div id="fbId" data-fb-login>
                        <div class="fb-login-button"
                        data-scope="public_profile,email,user_friends"
                        data-max-rows="2"
                        data-size="large"
                        data-show-faces="true"
                        data-auto-logout-link="false"
                        onlogin="angular.element(document.getElementById('fbId')).scope().status()"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
