@(message: String)
<div class="container">
    <div class="container">
        <div class="row template-header">

            <div class="col-xs-12 col-md-8">
                <google-map
                center="map.center"
                pan="map.panTo"
                control="map.control"
                draggable="true"
                dragging="map.dragging"
                bounds="map.bounds"
                events="map.events"
                options="map.options"
                zoom="map.zoom" ng-show="showMap">
                    <marker idkey="loc.id" coords="loc.coords" options="loc.options" control="loc.control"></marker>
                </google-map>

                <progressbar ng-show="locProg" class="progress-striped active progress" animate="true" value="100" type="info">{{locProgMessage}}</progressbar>

                <form name="newSearch" class="form-horizontal form-inline" role="form" ng-show="showSearch">

                    <div class="form-group">
                        <label for="city" class="col-sm-1 control-label">City
                            <!--<span class="label label-danger" data-ng-show="submitted && newSearch.city.$error.required">Required!</span>-->
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="city" data-ng-model="city" id="city" placeholder="City" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="region" class="col-sm-1 control-label">Region
                            <!--<span class="label label-danger" data-ng-show="submitted && newSearch.region.$error.required">Required!</span>-->
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="region" data-ng-model="region" id="region" placeholder="Region" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-11">
                            <button data-ng-disabled="inProgress" data-ng-click="search(newSearch)" class="btn btn-default">Search</button>
                        </div>
                    </div>
                </form>

                <div class="" ng-repeat="lst in allListings">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"></h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                            {{lst.listing.title}}
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-6 col-md-4">
               <!-- <div class="well well-lg"> -->

               <!--</div>-->
            </div>

        </div>
    </div>
</div>
