@()

<div class="modal-header">
    <h3 class="modal-title">{{lst.listing.title}}</h3>
</div>
<div class="modal-body">
    <div data-ng-controller="ItemCarouselCtrl">
        <div style="">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <div class="fitted-img" style="background-color: #000000">
                        <div class="centerer"></div>
                        <img data-ng-src="{{slide.image}}" style="">
                    </div>
                    <div class="carousel-caption">
                        <h4>Slide {{$index+1}}</h4>
                    </div>
                </slide>
            </carousel>
        </div>
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>
<div class="item-description">
    <p>
        {{lst.listing.description}}
    </p>
</div>
<div class="modal-footer" style="padding-right: 20px;">
    <button class="btn btn-default" data-ng-click="cancel()">OK</button>
</div>