@()
<div class="container outer-container">
    <div class="">
        <div class="row template-header">

            <script type="text/ng-template" id="login-template.html">
                <div class="">

                    ~ Log in partial template ~

                    <div id="fbId-1" data-fb-login>
                        <div class="fb-login-button"
                        data-scope="public_profile,email,user_friends"
                        data-size="large"
                        data-show-faces="false"
                        data-auto-logout-link="false"
                        onlogin="angular.element(document.getElementById('fbId-1')).scope().loginStatus(false)"></div>
                    </div>

                </div>
            </script>

            <script type="text/ng-template" id="billing-template.html">
                <ul class="nav nav-pills nav-stacked">
                    <li data-ng-class="{ active: isActivePill('Paid') }"><a href="javascript:;" data-ng-click="setActivePill('Paid')"> Paid <span class="badge">12</span></a></li>
                    <li data-ng-class="{ active: isActivePill('Unpaid') }"><a href="javascript:;" data-ng-click="setActivePill('Unpaid')"> Unpaid </a></li>
                </ul>
            </script>

            <script type="text/ng-template" id="purchase-template.html">
                <ul class="nav nav-pills nav-stacked">
                    <li data-ng-class="{ active: isActivePill('Paid') }"><a href="javascript:;" data-ng-click="setActivePill('Paid')"> Paid <span class="badge">12</span></a></li>
                    <li data-ng-class="{ active: isActivePill('Unpaid') }"><a href="javascript:;" data-ng-click="setActivePill('Unpaid')"> Unpaid </a></li>
                </ul>
            </script>

            <script type="text/ng-template" id="sale-template.html">
                <ul class="nav nav-pills nav-stacked">
                    <li data-ng-class="{ active: isActivePill('Paid') }">
                        <a href="javascript:;" data-ng-click="setActivePill('Paid')"> Paid
                            <span class="badge pull-right">12</span>
                        </a></li>
                    <li data-ng-class="{ active: isActivePill('Unpaid') }"><a href="javascript:;" data-ng-click="setActivePill('Unpaid')"> Unpaid </a></li>
                </ul>
            </script>

            <script type="text/ng-template" id="message-template.html">
                <div class="row">
                    <div class="col-sm-4 col-md-4 convo">
                        <ul class="nav nav-pills nav-stacked">
                            <li data-ng-class="{ active: isActivePill($index) }" data-ng-repeat="conv in conversations track by $index">
                                <a href="javascript:;" data-ng-click="setActivePill($index)">
                                {{ meOrUsername(conv.user1) }} \u00BB {{ meOrUsername(conv.user2) }}
                                    <span class="badge pull-right" data-ng-if="conv.conversation.messages.length>1"> {{ conv.conversation.messages.length }} </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <div class="message-title">
                            <b>{{ conversations[activePill[activeTab]].conversation.title }}</b>
                        </div>
                        <div class="message-from" data-ng-show="conversations.length">
                            With:
                            <a href="javascript:;">
                                {{ conversations[activePill[activeTab]].user1.name }} {{ conversations[activePill[activeTab]].user1.surname }}
                            </a>
                        </div>
                        <div class="convos" data-ng-repeat="(cIndex, conv) in conversations" data-ng-show="isActivePill(cIndex)">
                            <div class="messages-wrapper">
                                <div class="row-fluid message" data-ng-class="{ 'pull-right': msgPulledRight($index) }"
                                data-ng-repeat="msg in conversations[activePill[activeTab]].conversation.messages track by $index">
                                    <div class="string"><span> {{ msg.message }} </span></div>
                                    <div class="message-date"> {{ msg.date | amCalendar }} </div>
                                </div>
                            </div>
                            <div class="message-reply pull-left" data-ng-model="tempReply" contentEditable="true">
                                {{ tempReply }}
                            </div>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="userhome-template.html">
                <div data-ng-controller="SecuredHomeCtrl">
                    <ul class="nav nav-tabs">
                        <li data-ng-class="{ active: isActiveTab(tabIndex) }" data-ng-repeat="(tabIndex, tab) in tabs">
                            <a href="javascript:;" data-ng-click="setActiveTab(tabIndex)"> <span data-ng-class="tabIcon(tabIndex)" class="tab-icon"></span> {{ tab.name }}
                                <span class="badge" data-ng-if="tabIndex == 0 && conversations.length > 1"> {{ conversations.length }} </span>
                            </a>
                        </li>
                    </ul>
                    <div style="height: 20px"></div>
                    <div data-ng-include="recordTemplate.url"></div>
                </div>
            </script>

            <div class="col-xs-12 col-md-8">

                <progressbar ng-if="loadingProg" class="progress-striped active progress" animate="true" value="100" type="info"> {{ loadingMessage }} </progressbar>

                <div data-ng-include="userTemplate.url"></div>

            </div>
            <div class="col-xs-6 col-md-4">

                <div data-ng-include="profileTemplate.url"></div>

            </div>
        </div>
    </div>
</div>