@()
<div class="container outer-container">
    <div class="">
        <div class="row template-header">

            <script type="text/ng-template" id="login-template.html">
                <div class="">

                    <h5> The web page you requested is protected!</h5>
                    <p> Please log in with Facebook to access it. </p>

                    <div class="clearfix profile-template"></div>
                    <div id="fbId-1 clearfix" data-fb-login>
                        <div class="fb-login-button"
                        data-scope="public_profile,email,user_friends"
                        data-size="large"
                        data-show-faces="false"
                        data-auto-logout-link="false"
                        onlogin="angular.element(document.getElementById('fbId-1')).scope().loginStatus(false)"></div>
                    </div>

                </div>
            </script>

            <script type="text/ng-template" id="newissue-template.html">
                <div class="modal-header">
                    <h3 class="modal-title"> New Issue Composer </h3>
                </div>
                <div class="modal-body">
                    <div id="msg" class="alert alert-warning" data-ng-show="successMsg" data-ng-bind="successMsg"></div>
                    <div id="errorMsg" class="alert alert-danger" data-ng-show="errorMsg" data-ng-bind="errorMsg"></div>
                    <progressbar class="progress-striped active" data-ng-show="inProgress" max="200" value="200" type="warning"><i> Submitting... </i></progressbar>
                    <form name="newIssue" novalidate class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="summary" class="col-sm-2 control-label">Summary
                                <span class="label label-danger" data-ng-show="submitted && newIssue.summary.$error.required">Required!</span>
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="summary" data-ng-model="summary" id="summary" placeholder="Summary" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description
                                <span class="label label-danger" data-ng-show="submitted && newIssue.description.$error.required">Required!</span>
                            </label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" name="description" data-ng-model="description" id="description" placeholder="Description" rows="10" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" name="email" data-ng-model="email" id="email" placeholder="Your email (optional for receiving issue updates)" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" data-ng-disabled="inProgress || posted" data-ng-click="submit(newIssue)">Submit</button>
                            <button class="btn btn-warning" data-ng-disabled="disableCancel" data-ng-click="cancel()"> {{ cancelTitle }} </button>
                        </div>
                    </form>
                </div>
            </script>

            <script type="text/ng-template" id="messages-example-template.html">

                <div class="row-fluid clearfix" data-ng-controller="MessagesExampleCtrl">

                    <div class="col-sm-12 col-md-12" data-ng-if="showAlert" style="padding-right: 15px;">
                        <div class="alert alert-warning" role="alert"> Alert message! The messages shown below are sample messages that describe the messaging services. They will automatically remove themselves as soon as you receive or send a message.</div>
                    </div>
                    <div class="col-sm-5 col-md-5">
                        <div class="convo-placeholder">
                            <div class="outer-convo">
                                <div class="list-group convo scroll" data-ng-style="osPadding()">
                                    <div data-ng-repeat="samp in sampleConversations track by $index">
                                        <div class="convo-preview" data-ng-class="{ active: isActivePill($index) }"
                                        data-ng-mouseenter="scrollToWidth($event)"
                                        data-ng-mouseleave="scrollToStart($event)">
                                            <div class="close-wrapper">
                                                <button type="button" class="close" data-ng-click="deleteConvo($event, $index)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                            <a class="list-group-item pointer"
                                            data-ng-click="setActivePill($index)">
                                                <h4 class="list-group-item-heading">{{ meOrUsername(samp.user1) }} \u00BB {{ meOrUsername(samp.user2) }}
                                                    <span class="message-counter" data-ng-if="samp.messages.length>1"> ({{ samp.messages.length }}) </span>
                                                </h4>
                                                <p class="list-group-item-text">{{ samp.title }}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-7 clearfix">

                        <div class="convos" data-ng-repeat="(cIndex, conv) in sampleConversations" data-ng-show="isActivePill(cIndex)">
                            <div class="message-outer">
                                <div class="message-title" data-ng-show="sampleConversations.length">
                                    <h4><a class="pointer">{{ sampleConversations[activeConvo].title }}</a>
                                    </h4>
                                </div>
                                <div class="message-from" data-ng-show="sampleConversations.length">
                                    {{ sellerOrBuyer() }}:
                                    <a class="pointer">
                                        {{ withWho() }}
                                    </a>
                                </div>
                                <div class="messages-wrapper" data-ng-style="msgWrapperStyle()">
                                    <div class="row-fluid message" data-ng-class="{ 'pull-right': msgPulledRight($index) }"
                                    data-ng-repeat="msg in sampleConversations[activeConvo].messages track by $index">
                                        <div class="string" data-ng-class="{ 'me': isThisMe($index) }">
                                            <span> {{ msg.message }} </span>
                                        </div>
                                        <div class="message-date"> {{ msg.date | amCalendar }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="message-reply pull-left" data-reply-attr data-ng-model="tempReply" contentEditable="true">
                                    {{ tempReply }}
                                </div>
                            </div>
                            <div class="clearfix">
                                <button class="btn btn-default btn-sm pull-right" style="margin-bottom: 10px;" data-ng-click="sendReply()">
                                        <!--<span class="glyphicon glyphicon-send" style="margin-right: 5px"></span>-->
                                        Reply
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="message-template.html">

                <div style="padding:0 10px;">
                    <progressbar ng-if="loadingProg" class="progress-striped active progress" animate="true" value="100" type="info"> {{ loadingMessage }} </progressbar>
                </div>

                <div class="row-fluid clearfix" data-ng-if="!loadingProg && conversations.length ">

                    <div class="col-sm-5 col-md-5">
                        <div class="convo-placeholder">
                            <div class="outer-convo">
                                <div class="list-group convo scroll" data-ng-style="osPadding()">
                                    <div data-ng-repeat="conv in conversations track by $index">
                                        <div class="convo-preview" data-ng-class="{ active: isActivePill($index) }"
                                        data-ng-mouseenter="scrollToWidth($event)"
                                        data-ng-mouseleave="scrollToStart($event)">
                                            <div class="close-wrapper">
                                                <button type="button" class="close" data-ng-click="deleteConvo($event, $index)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                            <a class="list-group-item pointer"
                                            data-ng-click="setActivePill($index)"
                                            data-ng-disable="replying">
                                                <h4 class="list-group-item-heading">{{ meOrUsername(conv.user1) }} \u00BB {{ meOrUsername(conv.user2) }}
                                                    <span class="message-counter" data-ng-if="conv.conversation.messages.length>1">
                                                        ({{ conv.conversation.messages.length }})
                                                    </span>
                                                </h4>
                                                <p class="list-group-item-text"> {{ conv.conversation.title }} </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-md-7">

                        <div class="convos" data-ng-repeat="(cIndex, conv) in conversations" data-ng-show="isActivePill(cIndex)">
                            <div class="message-outer">
                                <div class="message-title" data-ng-show="conversations.length">
                                    <h4><a href="/#!/listing_item/{{conversations[activePill[activeTab]].conversation.listingid}}">
                                        {{ conversations[activePill[activeTab]].conversation.title }}
                                    </a>
                                    </h4>
                                </div>
                                <div class="message-from" data-ng-show="conversations.length">
                                    <i>{{ sellerOrBuyer() }}:</i>
                                    <a class="pointer">
                                        {{ withWho() }}
                                    </a>
                                </div>
                                <div class="messages-wrapper" data-em-height data-ng-style="msgWrapperStyle()">
                                    <div class="row-fluid message" data-ng-class="{ 'pull-right': msgPulledRight($index) }"
                                    data-ng-repeat="msg in conversations[activePill[activeTab]].conversation.messages track by $index">
                                        <div class="string" data-ng-class="{ 'me': isThisMe($index) }">
                                            <span data-ng-bind="msg.message"></span>
                                        </div>
                                        <div class="message-date"> {{ msg.date | amCalendar }} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="message-reply pull-left" data-reply-attr data-index="{{cIndex}}" data-ng-model="tempReply" contentEditable="true">
                                    {{ tempReply }}
                                </div>
                            </div>
                            <div class="clearfix">
                                <button class="btn btn-default btn-sm pull-right" style="margin-bottom: 10px;" data-ng-click="sendReply($index)">
                                        <!--<span class="glyphicon glyphicon-send" style="margin-right: 5px"></span>-->
                                        Reply
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-ng-include="messagesExampleTemplate.url" data-ng-if="!loadingProg && !conversations.length"></div>

            </script>

            <script type="text/ng-template" id="purchase-template.html">
                <div class="row-fluid">
                        <ul class="nav nav-pills nav-justified purchase-pills">
                            <li data-ng-class="{ active: isActivePill($index) }" data-ng-repeat="tran in transactionPills track by $index">
                                <a class="pointer" data-ng-click="setActivePill($index)">
                                    {{ tran.name }}
                                    <!--<span class="badge pull-right" data-ng-if="conv.conversation.messages.length>1"> {{ conv.conversation.messages.length }} </span>-->
                                </a>
                            </li>
                        </ul>
                </div>
            </script>

            <script type="text/ng-template" id="sale-template.html">
                <div class="row-fluid">
                    <ul class="nav nav-pills nav-justified purchase-pills">
                        <li data-ng-class="{ active: isActivePill($index) }" data-ng-repeat="tran in transactionPills track by $index">
                            <a class="pointer" data-ng-click="setActivePill($index)">
                                {{ tran.name }}
                                <!--<span class="badge pull-right" data-ng-if="conv.conversation.messages.length>1"> {{ conv.conversation.messages.length }} </span>-->
                            </a>
                        </li>
                    </ul>

                </div>
            </script>

            <script type="text/ng-template" id="billing-template.html">
                <div class="row-fluid">
                    <div class="col-sm-4 col-md-4 convo">
                        <ul class="nav nav-pills nav-stacked">
                            <li data-ng-class="{ active: isActivePill($index) }" data-ng-repeat="pill in billingPills track by $index">
                                <a class="pointer" data-ng-click="setActivePill($index)">
                                    {{ pill.name }}
                                    <!--<span class="badge pull-right" data-ng-if="conv.conversation.messages.length>1"> {{ conv.conversation.messages.length }} </span>-->
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-8 col-md-8">

                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="userhome-template.html">
                <div data-ng-controller="SecuredHomeCtrl">
                    <ul class="nav nav-tabs">
                        <li data-ng-class="{ active: activeTab+1 && isActiveTab(tabIndex) }" data-ng-repeat="(tabIndex, tab) in tabs">
                            <a class="pointer" data-ng-click="setActiveTab(tabIndex)"> <span data-ng-class="tabIcon(tabIndex)" class="tab-icon"></span> {{ tab.name }}
                                <span class="badge" data-ng-if="tab.name == 'Messages' && conversations.length > 1"> {{ conversations.length }} </span>
                            </a>
                        </li>
                    </ul>
                    <div class="tabs-separator"></div>
                    <div data-ng-include="recordTemplate.url" class="records-wrapper"></div>
                </div>
            </script>

            <div class="col-xs-12 col-md-9">

                <progressbar ng-if="loadingProg" class="progress-striped active progress" animate="true" value="100" type="info"> {{ loadingMessage }} </progressbar>

                <div data-ng-include="userTemplate.url"></div>

            </div>
            <div class="col-xs-6 col-md-3">

                <div data-scroll-top data-ng-class="{posFixed: fixedToTop, 'user-home': userHome}" class="user-home-summary" data-ng-include="profileTemplate.url"></div>

            </div>
        </div>
    </div>
</div>