.container .jumbotron {
    border-radius: 3px;
}
.jumbotron {
    background-color: #e9e9e9;
}
.jumbotron p {
    font-size: 21px;
    font-weight: 200;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 26px;
    letter-spacing: 1px;
}

a {
    color: #548B0C;
}

a:hover, a:focus {
    color: #41760c;
}

a.issue-title {
    color: black
}

a.issue-title:hover,a.issue-title:focus {
    cursor: pointer;
    color: #41760c;
}
.issue-des {
   font-size: 16px;
}

.glyphicon-chevron-down, .glyphicon-chevron-right {
    cursor: pointer;
}
.prop-table {
    margin-top: 20px;
    margin-bottom: 0;
}
.prop-td {
    border-top-width: 0 !important;
}