/* app css stylesheet */
.head {
    z-index: 0;
    background:  url(../images/grey.png) scroll;
}

.container .jumbotron-b {
    padding-left: 60px;
    padding-right: 60px;
    /*
    border-radius: 8px;
    border: 1px orange solid;
    */
}

.jumbotron-b {
    padding-bottom: 48px;
    padding-top: 48px;
}

.jumbotron-b p {
    font-size: 21px;
    font-weight: 200;
    line-height: 26px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.jumbotron-b h1, .jumbotron-b .h1 {
    font-size: 63px;
    color: #55b900;
}

.jumbotron-b > h1 {
    margin-top: 0;
}

a {
    color: #548B0C;
}

a:hover, a:focus {
    color: #41760c;
}

a.issue-title {
    color: black
}

a.issue-title:hover,a.issue-title:focus {
    cursor: pointer;
    color: #41760c;
}

.issue-des {
    font-size: 14px;
}

.glyphicon-chevron-down, .glyphicon-chevron-right {
    cursor: pointer;
}

.prop-table {
    margin-top: 20px;
    margin-bottom: 0;
}

.prop-td {
    border-top-width: 0 !important;
}

.known-issue-header {
    margin-top: 17px;
    padding-left: 2px;
}

.modal-footer {
    margin-top: 20px;
    padding-right: 0;
}

.modal-body {
    padding-bottom: 10px;
}

.form-group .col-sm-6 {
    padding-left: 35px;
}

.angular-google-map-container {
    height: 200px;
}

.right-edge {
    left: auto;
    right: 0;
}
.angular-google-map-container {
    border: 10px solid #fff;
    box-shadow: 0 0 5px #ccc;
    height: 265px;
    margin-bottom: 30px;
}

