/* app css stylesheet */
body {
    /*padding-top: 80px !important;*/
    padding-bottom: 30px;
    background-color: #ffffff;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 9px;
}
.head {
    z-index: 0;
    background:  url(../images/shoeless_2610.jpg) scroll;
}
.container .jumbotron-b {
    padding-left: 60px;
    padding-right: 60px;
    /*
    border-radius: 8px;
    border: 1px orange solid;
    */
}
.jumbotron-b {
    padding-bottom: 48px;
    padding-top: 48px;
}
.jumbotron-b p {
    font-size: 21px;
    font-weight: 200;
    line-height: 26px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.jumbotron-b h1, .jumbotron-b .h1 {
    font-size: 63px;
    color: #55b900;
}
.jumbotron-b > h1 {
    margin-top: 0;
}
.view {
    min-height: 700px;
}
a {
    color: #548B0C;
}
a:hover, a:focus {
    color: #41760c;
}
a.issue-title {
    color: black;
}
a.completed-fixed {
    text-decoration: line-through;
    color: gray;
}
a.issue-title:hover,a.issue-title:focus {
    cursor: pointer;
    color: #41760c;
}
.issue-des {
    font-size: 14px;
}
.glyphicon-chevron-down, .glyphicon-chevron-right {
    cursor: pointer;
}
.prop-table {
    margin-top: 20px;
    margin-bottom: 0;
}
.prop-td {
    border-top-width: 0 !important;
}
.template-header {
    margin-top: 20px;
    padding-left: 2px;
}
.modal-footer {
    margin-top: 20px;
    padding-right: 0;
}
.modal-body {
    padding-bottom: 10px;
}
.form-group .col-sm-6 {
    padding-left: 35px;
}
.angular-google-map-container {
    height: 200px;
}
.right-edge {
    left: auto;
    right: 0;
}
.angular-google-map-container {
    border: 10px solid #fff;
    box-shadow: 0 0 5px #ccc;
    height: 265px;
    margin-bottom: 30px;
}
.input-styled {
    border-style: none none dotted;
    border-width: 0 0 2px;
    border-radius: 0;
    border-image: none;
    box-shadow: none !important;
    padding: 6px;
}
.highlight {
    background-color: #f7f7f9;
    min-height: 150px;
}
.profile {
    padding-left: 20px;
    margin-bottom: 20px;
    max-height: 50px;
}
.profile-img {
    max-height:50px;
    height:50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.profile-crd {
    padding-left: 65px
}
.listing {
    padding-bottom: 5px;
    padding-top: 10px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
.outer-container {
    padding-left: 5px;
    padding-right: 5px;
}
.container-with-shadow {
    border: 10px solid #fff;
    box-shadow: 0 0 5px #ccc;
}
.center-cropped {
    width: 48%;
    height: 48%;
    min-width: 280px;
    min-height: 280px;
    max-height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
    width: 100%;
    height: 100%;
    min-height: 300px;
    /* IE 8 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* modern browsers */
    opacity: 0;
}
.fitted-img {
    height: 650px;
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
}
.fitted-img .centerer {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.fitted-img img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 Arial sans-serif;        /* <-- reset the font property */
}
.fitted-img.main-item {
    height: 549px!important;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .fitted-img {
        height: 320px;
    }
    .fitted-img img {
        max-width: 100%;
        max-height: none;
        overflow: hidden;
    }
}
.item-description {
    padding: 15px;
}
.getAll {
    margin: 0;
    padding-top: 7px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}
.paging {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
}
.pagination {
    margin: 0!important;
}
.pagination > li > a,
.pagination > li > a:hover,
.pagination > li > a:focus {
    color: #41760c;
}
.searchPanel {
    background-color: rgb(247, 247, 249);
}
.search-wrapper {
    overflow: hidden;
}
.form-inline > .form-group {
    margin: 0 !important;
}
.locateBtn {
    margin-top: 5px;
    margin-bottom: 10px;
}
.locateGroup {
    float: right;
}
.btn.search-btn{
    background: #92d13d!important;
    vertical-align: top;
    padding-top: 2px!important;
    box-shadow: none;
    border: none!important;
    z-index: 2!important;
}
/*
these two helper classes display the search icon
*/
.gbqfi {
    background-position: -69px -349px;
    display: inline-block;
    margin: -1px;
    height: 30px;
    width: 30px;
}
.gb_Fa {
    background-image: url('//ssl.gstatic.com/gb/images/v1_2e543709.png');
    background-size: 112px 1828px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
@media all
and (max-width : 768px) {
    .locateBtn {
        margin-top: 10px;
    }
}

input.search-query {
    padding-left:26px!important;
    width: 100%!important;
    min-width: 0;
    max-width: 100%!important;
    /*height: 30px;*/
}
form.form-search {
    position: relative;
}
form.form-search:before {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top:6px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}
.btn-buy {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: rgb(119, 119, 119);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(225, 225, 232);
    border-radius: 0 4px 0 4px;
}
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
    background-color: #92d13d;
    border-color: #92d13d;
}
#searchBar,
input:focus,
textarea:focus {
    border-color: #92d13d!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.055) inset, 0 0 8px rgba(84, 139, 12, 0.5)!important;
    outline: 0 none;
}
.stars{
    width: 90px;
    height: 18px;
    background: url(/vassets/images/newStars.png) 0 0 repeat-x;
    position: relative;
    margin-left: 12px;
    margin-top: 5px;
}

.stars .rating{
    height: 18px;
    background: url(/vassets/images/newStars.png) 0 -18px repeat-x;
}
.col-xs-3ths,
.col-sm-3ths,
.col-md-3ths,
.col-lg-3ths {
    position: relative;
    min-height: 1px;
    margin-right: 0;
    margin-bottom: 10px;
}
.col-xs-3ths {
    width: 33.33%;
    float: left;
}
.posFixed {
    position: relative;
}
@media (min-width: 768px) {
    .col-sm-3ths {
        width: 33.33%;
        float: left;
        margin-right: 75px;
    }
    .posFixed{
        position: relative;
    }
}
@media (min-width: 992px) {
    .col-md-3ths {
        width: 33.33%;
        float: left;
        margin-right: 75px;
    }
    .posFixed{
        position: fixed;
        top: 5px;
        width: 300px;
    }
}
@media (min-width: 1200px) {
    .col-lg-3ths {
        width: 33.33%;
        float: left;
        margin-right: 75px;
    }
    .posFixed{
        position: fixed;
        top: 5px;
        width: 366px;
    }
}
img.resize{
    width:250px; /* you can use % */
    height: auto;
}
.nav-pills > li {
    padding: 0 3px;
}
.nav-pills > li > a {
    color: #548b0c;
    font-weight: 500;
    border-radius: 2px;
    background-color: #f5f5f5;
    margin: 3px 0;
    font-size: 13px!important;
}
@media (min-width: 768px) {
    .nav-pills > li {
        padding: 0;
    }
    .nav-pills > li > a {
        margin: 3px 10px 3px 0!important;
    }
}
.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color: #ffffff;
}
.nav-pills > li > a > .badge {
    background-color: darkgrey;
}
.nav-pills > li > a:focus > .badge, .nav-pills > li > a:hover > .badge {
    color: #428bca;
    background-color: #ffffff;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-image: linear-gradient(to bottom, #A0EC39 0px, #72BB10 100%);
    background-repeat: repeat-x;
}
.nav-tabs > li > a > .badge {
    background-color: darkgrey;
    color: #ffffff;
}/*
.nav-tabs > li > a:focus > .badge, .nav-tabs > li > a:hover > .badge {
    color: #428bca;
    background-color: #ffffff;
}*/
.nav-tabs > li.active > a > .badge {
    background-color: darkgrey;
    color: #ffffff;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: #f5f5f5;
    background-image: none;
    color: #548b0c;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
}
.nav-tabs > li.active > a {
    background-color: #ffffff;
    background-image: none;
}
.tab-icon {
    margin-right: 5px
}
.convo::-webkit-scrollbar { width: 0 !important }
.convo {
    max-height: 600px;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.message {
    width: 100%;
    clear: both;
}
.message > div.string {
    max-width: 70%;
}
.message div {
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
}
.message > div.me {
    background-color: #E3F2DB;
    /*color: #3F6F01;*/
}
.message-date {
    background-color: #ffffff!important;
    color: white;
    font-size: 11px;
    width: auto;
}
.message:focus > .message-date, .message:hover > .message-date {
    color: lightgray;
}
.messages-wrapper::-webkit-scrollbar { width: 0 !important }
.messages-wrapper {
    padding-top: 10px;
    max-height: 500px;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    padding-right: 10px;
    height: 500px!important;
    min-height: 100%;
}
.message > div {
    float: left;
}
.message.pull-right > div {
    float: right;
}
.message-from {
    -webkit-box-shadow: 0 2px 2px -2px #888;
    box-shadow: 0 2px 2px -2px #888;
    position: relative;
    height: 30px;
}
.message-reply::-webkit-scrollbar { width: 0 !important }
.message-reply {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 150px;
    min-height: 50px;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    outline: none;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.message-reply:focus {
    border-color: #92d13d!important;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.055) inset, 0 0 8px rgba(84, 139, 12, 0.5)!important;*/
}
.message-title {
    padding: 10px;
    border-radius: 3px;
    background-color: #f0f0f0;
    margin-right: 10px;
    margin-bottom: 15px;
    text-align: center;
}
.tabs-separator {
    height: 20px;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
}
.records-wrapper {
    border: 1px solid #ddd;
    border-top: none;
    height: auto;
    min-height: 710px!important;
}
.records-wrapper.sample {
    min-height: 780px!important;
}
.purchase-pills {
    padding: 0 15px;
}