@(title: String)(listing: Listing, pictures:List[String], loc: Location, user: User, ext:String=".jpg")

<div class="container">
    <div class="container">
        <div data-ride="carousel" class="carousel slide" id="carousel-listing" data-interval="false" style="width:500px; height:375px">
            @if(pictures.length > 1) {
                <ol class="carousel-indicators">
                @for((pic, i) <- pictures.zipWithIndex) {
                    @if(i == 0) {
                        <li class="active" data-slide-to="0" data-target="#carousel-listing"></li>
                    } else {
                        <li class="" data-slide-to="@i" data-target="#carousel-listing"></li>
                    }
                }
                </ol>
            }
            <div class="carousel-inner">
                @for((pic,i) <- pictures.zipWithIndex) {
                    @if(i == 0) {
                        <div class="item active" style="background-color: #000000">
                            <img alt="" style="max-height:375px;display:block; margin:auto;" src="https://zaporbit.com/pictures/@pic@ext">
                        </div>
                    } else {
                        <div class="item" style="background-color: #000000">
                            <img alt="" style="max-height:375px;display:block; margin:auto;" src="https://zaporbit.com/pictures/@pic@ext">
                        </div>
                    }
                }
            </div>
            @if(pictures.length > 1) {
                <a data-slide="prev" role="button" href="#carousel-listing" class="carousel-control">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a data-slide="next" role="button" href="#carousel-listing" class="right-edge carousel-control">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            }
        </div>
    </div>
</div>
