@(title: String)(content: Html)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html" ng-app="ZapOrbit">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="ZapOrbit App" name="description">
        <meta content="ZapOrbit" name="author">
        <title>@title</title>
        <link rel="stylesheet" href="@StaticWebJarAssets.getUrl(WebJarAssets.locate("bootstrap.css"))">
        <link rel="stylesheet" href="@StaticWebJarAssets.getUrl(WebJarAssets.locate("bootstrap-theme.css"))">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/customNavbar.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/customMain.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/app.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body ng-controller="AppCtrl">

        @mainHeader()

        @content

        <div class="view" ng-view></div>

        <div class="container">
            <div class="container footer" style="margin-top: 50px;">
                <p>&copy; ZapOrbit 2014</p>
            </div>
        </div>

        <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("jquery.min.js"))"></script>
        <script src="@routes.Assets.versioned("javascripts/lib/angularjs/angular.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/lib/angularjs/angular-route.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/lib/angularjs/angular-resource.js")"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("lodash.underscore.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("angular-google-maps.min.js"))"></script>

        <!--<script src="routes.Assets.versioned("javascripts/lib/angularjs/angular-animate.js")"></script>-->
        <!--<script src="StaticWebJarAssets.getUrl(WebJarAssets.locate("holder.js"))"></script>-->
        <!--<script src="StaticWebJarAssets.getUrl(WebJarAssets.locate("bootstrap.min.js"))"></script>-->

        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("ui-bootstrap.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("moment.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("angular-moment.min.js"))"></script>

        <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/services.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/filters.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/directives.js")"></script>
    </body>
</html>
