
<header class="header" data-ng-controller="HeaderCtrl">
    <div role="navigation" class="navbar theme-navbar-header">
        <div class="container outer-container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" data-ng-init="navCollapsed = true" data-ng-click="navCollapsed = !navCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a data-ng-href="#!/" class="navbar-brand brand"> ZapOrbit </a>
            </div>
            <div data-collapse="navCollapsed" class="navbar-collapse collapse navbar-responsive-collapse brand">
                <ul class="nav navbar-nav">
                    <!--<li data-ng-class="{ active: isActive('/')}"><a data-ng-href="#!/"> Home </a></li>-->
                    <li data-ng-class="{ active: isActive('/listings')}"><a data-ng-href="#!/listings"> Listings </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-if="userName && userName != 'Offline'" data-ng-class="{ active: isActive('/userhome') }" class="user-home-btn">
                        <a data-ng-href="#!/userhome"> <span data-ng-class="userIcon()" class="tab-icon"></span> {{ userName }} </a>
                    </li>
                    <li data-ng-class="{ active: isActive('/support') }"><a data-ng-href="#!/support"> Support </a></li>
                </ul>
            </div>
        </div>
    </div>
</header>