@(title: String)(content: Html)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="ZapOrbit" data-ng-controller="AppCtrl">
    <head>
        <base href="/">
        <meta charset="UTF-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, target-densitydpi=device-dpi" name="viewport">
        <meta content="Buy & Sell Socially Online!" name="description">
        <meta content="ZapOrbit @@ 2014" name="author">
        <meta name="contact" content="hq@@zaporbit.com">
        <meta name="copyright" content="ZapOrbit @@ YRGD. All rights reserved.">
        <meta name="keywords" content="zaporbit,zaporbit.com,selling,bargain,sale">

        <meta property="og:url" content="https://zaporbit.com" />
        <meta property="og:title" content="ZapOrbit" />
        <meta property="og:description" content="Buy & Sell Socially Online. Follow the best sellers in your locality or remote if they are worthy." />
        <meta property="og:image:secure_url" content="https://zaporbit.com/assets/images/appicon.png" />

        <title>@title</title>
        <link href="@StaticWebJarAssets.getUrl(WebJarAssets.locate("bootstrap.css"))" rel="stylesheet">
        <link href="@StaticWebJarAssets.getUrl(WebJarAssets.locate("bootstrap-theme.css"))" rel="stylesheet">
        <link href="@StaticWebJarAssets.getUrl(WebJarAssets.locate("font-awesome.min.css"))" rel='stylesheet'>
        <link href="@routes.Assets.versioned("concated/main.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("images/favicon.png")" rel="shortcut icon" type="image/png">
    </head>
    <body>
        <div id="fb-root" style="position:fixed; z-index:1001;"></div>
        <script type="text/javascript">
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=707572852626545&version=v2.0";
                //js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=754890951228068&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            WebFontConfig = {
                google: {
                families: [
                    'Open+Sans:400,600italic,600,400italic,300italic,300:latin',
                    'Ubuntu:500:latin'
                    ]
                }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
        </script>

        @mainHeader()

        @content

        <div class="view" data-ng-view data-autoscroll="true"></div>

        <div class="container">
            <div class="footer" style="margin-top: 50px;">
                <p>&copy; ZapOrbit 2014</p>
            </div>
        </div>
        <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("jquery.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("angular-file-upload-shim.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("angular.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("angular-route.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("angular-animate.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("angular-resource.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("lodash.underscore.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("angular-google-maps.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("jquery-ui.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("sortable.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("ui-bootstrap.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("moment.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("angular-moment.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("angular-file-upload.min.js"))"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.0/holder.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular-sanitize.min.js"></script>
        <script src="@routes.Assets.versioned("concated/all.js")"></script>
    </body>
</html>
