@(title: String)(content: Html)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html" data-ng-app="ZapOrbit">
    <head>
        <base href="/">
        <meta charset="UTF-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="ZapOrbit App" name="description">
        <meta content="ZapOrbit" name="author">
        <title>@title</title>
        <link href="@StaticWebJarAssets.getUrl(WebJarAssets.locate("bootstrap.css"))" rel="stylesheet">
        <link href="@StaticWebJarAssets.getUrl(WebJarAssets.locate("bootstrap-theme.css"))" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/customNavbar.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/app.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("images/favicon.png")" rel="shortcut icon" type="image/png">
    </head>
    <body data-ng-controller="AppCtrl">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=707572852626545&version=v2.0";
            //js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=754890951228068&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        @mainHeader()

        @content

        <div class="view" data-ng-view></div>

        <div class="container">
            <div class="footer" style="margin-top: 50px;">
                <p>&copy; ZapOrbit 2014</p>
            </div>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("jquery.min.js"))"></script>

        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("angular.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("angular-route.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("angular-resource.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("lodash.underscore.min.js"))"></script>
        <script src="@StaticWebJarAssets.getUrl(WebJarAssets.locate("angular-google-maps.min.js"))"></script>
        <!--<script src="StaticWebJarAssets.getUrl(WebJarAssets.locate("lz-string.min.js"))"></script>-->
        <script src="@StaticWebJarAssets.getUrl2(WebJarAssets.locate("ui-bootstrap.min.js"), "0.11.0-2")"></script>
        <script src="@StaticWebJarAssets.getUrl2(WebJarAssets.locate("ui-bootstrap-tpls.min.js"), "0.11.0-2")"></script>
        <script src="@StaticWebJarAssets.getUrl2(WebJarAssets.locate("moment.min.js"), "2.6.0-2")"></script>
        <script src="@StaticWebJarAssets.getUrl2(WebJarAssets.locate("angular-moment.min.js"), "0.6.2-2")"></script>

        <script src="@routes.Assets.versioned("javascripts/angular-local-storage.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/services.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/filters.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/directives.js")"></script>
    </body>
</html>
