@(token: String, bills: List[(Billing,BigDecimal)])

@walletMain(token, "Pay Balance") {

    <div class="header">
        <h3 class="text-muted">Account Status</h3>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="pay-item">Title</th>
                    <th>Sold Price</th>
                    <th>Fee</th>
                </tr>
            </thead>
            <tbody>
                @for(((b,f),i) <- bills.view.zipWithIndex) {
                    <tr>
                        <td>@{i+1}</td>
                        <td class="pay-item">@b.offer_title</td>
                        <td>@Cart.displayCurrency(b.locale,b.offer_price)</td>
                        <td>@{f}USD</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}