@(listing: Listing, pictures:List[String], loc: Location, user: User, rating: Float, currency: String, token: Option[String], pictureUrl: String)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="ZapOrbit" data-ng-controller="AppCtrl">
    <head>
        <base href="/">
        <meta charset="UTF-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, target-densitydpi=device-dpi" name="viewport">
        <meta content="Buy & Sell Locally Online!" name="description">
        <meta content="ZapOrbit @@ 2014" name="author">
        <meta name="contact" content="hq@@zaporbit.com">
        <meta name="copyright" content="ZapOrbit @@ YRGD. All rights reserved">
        <meta name="keywords" content="zaporbit,zaporbit.com,selling,bargain,sale">

        <meta property="og:url" content="https://zaporbit.com/#!/listing_item/@listing.id.get" />
        <meta property="og:title" content="@listing.title" />
        <meta property="og:type" content="image" />
        <meta property="og:description" content="Buy & Sell Locally Online!" />
        <meta property="og:image" content="https://zaporbit.com/scaledimage/2000/@{if(pictures.head.split("\\.").length > 1) pictures.head else pictures.head.split("\\.")(0)+".jpg"}" />

        <title>@listing.title</title>
    </head>
    <body>
        @partials.html.itemTemplate(listing: Listing, pictures:List[String], loc: Location, user: User, rating: Float, currency: String, token: Option[String], pictureUrl: String)
    </body>
</html>